<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path_for('home') }}">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav" id="navbarText">
        <span class="navbar-text ml-auto">
            <a href="{{ path_for('cart.index') }}">
                <span class="fas fa-shopping-cart"></span> Cart (0)
            </a>
        </span>
    </div>
</nav>